.accountbody {
    background-image: url("kanin01.png");
    font-size: 30px;
    color: black;
    text-align: center;
}

.accountul {
    margin-top: 10px;
    padding-top: 20px;
}

.accounth1 {
    color: yellow;
}

.accountli:hover {
    color: red;
    width: 20px;
}

.accounth1:hover {
    color: red;
}