<footer>
    <div class="sns">
            <a class="anchor" href="https://www.instagram.com/" target="_blank" rel="nofollow">
                <i class="bi bi-instagram" style="font-size: 2rem;">instagram|  </i>
            </a>
            
            <a class="anchor" href="https://www.facebook.com/" target="_blank" rel="nofollow">
                <i class="bi bi-facebook" style="font-size: 2rem;">facebook|  </i>
            </a>

            <a class="anchor" href="https://www.twitter.com/" target="_blank" rel="nofollow">
                <i class="bi bi-twitter-x" style="font-size: 2rem;">twitter(x)</i>
            </a>
    </div>

    <div class="footer">
        <p class="copyRight">&copy; 2025 Thank_japan All Right Reserved.</p>
    </div>
</footer>
