<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="description" content="Let's try Japanese lesson" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="{% static 'css/thank_japan.ico' %}" />

    <title>Thank_Japan</title>
   
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

</head>

<body>
    
        <div class="header">
            <h1 class="title">Thank_Japan</h1>
        </div>
    

        <div class="sidebar">

            <h2 class="home">Home</h2>

                <h3 class="category">Category</h3>

                    <ul class="ul">
                        <li class="li">Food</li>
                        <li class="li">Cook</li>
                        <li class="li">Nature</li>
                        <li class="li">Fashion</li>
                        <li class="li">Animal</li>
                        <li class="li">Appliances</li>
                        <li class="li">Culture</li>
                    </ul>
        </div>
    

        <div class="main">
            <p class="document">
                Hello everyone, this is Thank_Japan.
                I'm sending this message from Japan.
                Have you ever been to Japan?
                Japan is a country surrounded by the sea.
                This website is for studying Japanese language and culture.
                Let’s study Japanese together!
                I’m looking forward to the day I can meet you all.
                Have a great day!
            </p>

            <h2 class="h2">How to use this site:</h2>
                <p class="document">
                Please select your preferred genre from the categories on the left.
                After selecting a genre, you will be taken to that genre’s page.
                Click on any item that interests you, 
                and its image, name, and description will be displayed as shown below.<br />
                "By the way, the name will be written in Roman letters."
                </p>

                <p class="yajirushi">↓↓</p>
                
                <img class="image" src="{% static 'css/hujisan.png' %}" alt="fujisan" width={900} height={500}/>
                    <dl>
                        <dt class="dt">Name: Fuzisan ← Romaji</dt>
                        <dd class="dd">description:<br />
                        "It stands at an elevation of 3,776 meters, making it the highest mountain in Japan. 
                        Straddling Shizuoka and Yamanashi prefectures, 
                        it is considered a symbol of Japan for its beautiful appearance."</dd>
                    </dl>
               

                <hr />

                <p class="return">Clicking on <a class="a" href="">'Home'</a>or Thank_Japan will take you back to the top page (this page).</p>
        </div>

        <footer>
            <div class="footer">
                <p class="copyRight">&copy; 2025 Thank_japan All Right Reserved.</p>
            </div>
        </footer>




</body>
</html>