
 <div class="sidebar">

    <a class="anchor" href="{% url 'toppage' %}"><h2 class="home">Home</h2></a>

        <ul class="ul">
            {% if request.user.is_authenticated %}
                <a class="anchor" href="{% url 'account_logout' %}"><li class="li">Logout</li></a>
                <a class="anchor" href="{% url 'userdeleteform' %}"><li class="li">Withdrawal</li></a>
                <a class="anchor" href="{% url 'infomationpage' %}"><li class="li">Company</li></a>
            {% else %}
                <a class="anchor" href="{% url 'account_login' %}"><li class="li">Login</li></a>
                <a class="anchor" href="{% url 'account_signup' %}"><li class="li">Signup</li></a>
            {% endif %}
                <hr>
                <a class="anchor" href="{% url 'game' %}"><li class="li">Game</li></a>
                

        </ul>

        <h3 class="category">Category</h3>

            <ul class="ul">
                <a class="anchor" href="{% url 'foodpage'%}"><li class="li">Food</li></a> 
                <a class="anchor" href="{% url 'cookpage' %}"><li class="li">Cook</li></a>
                <a class="anchor" href="{% url 'naturepage' %}"><li class="li">Nature</li></a>
                <a class="anchor" href="{% url 'fashionpage' %}"><li class="li">Fashion</li></a>
                <a class="anchor" href="{% url 'animalpage' %}"><li class="li">Animal</li></a>
                <a class="anchor" href="{% url 'appliancespage' %}"><li class="li">Appliances</li></a>
                <a class="anchor" href="{% url 'culturepage' %}"><li class="li">Culture</li></a>
                <a class="anchor" href="{% url 'buildingpage' %}"><li class="li">Building</li></a>
                <a class="anchor" href="{% url 'flowerpage' %}"><li class="li">Flower</li></a>
                <a class="anchor" href="{% url 'householditemspage' %}"><li class="li">HouseholdItems</li></a>
                <a class="anchor" href="{% url 'sportspage' %}"><li class="li">Sports</li></a>
                <a class="anchor" href="{% url 'workpage' %}"><li class="li">Work</li></a>
                <a href="#"><li></li></a>


            </ul>

 </div>
