
 <div class="sidebar">

    <a href="{% url 'toppage' %}"><h2 class="home">Home</h2></a>

        <ul class="ul">
            {% if request.user.is_authenticated %}
                <li class="li"><a href="{% url 'account_logout' %}">Logout</a></li>
                <li class="li"><a href="{% url 'userdeleteform' %}">Withdrawal</a></li>
            {% else %}
                <li class="li"><a href="{% url 'account_login' %}">Login</a></li>
                <li class="li"><a href="{% url 'account_signup' %}">Signup</a></li>
            {% endif %}

        </ul>

        <h3 class="category">Category</h3>

            <ul class="ul">
                <a href="{% url 'foodpage'%}"><li class="li">Food</li></a> 
                <a href="{% url 'cookpage' %}"><li class="li">Cook</li></a>
                <a href="{% url 'naturepage' %}"><li class="li">Nature</li></a>
                <a href="{% url 'fashionpage' %}"><li class="li">Fashion</li></a>
                <a href="{% url 'animalpage' %}"><li class="li">Animal</li></a>
                <a href="{% url 'appliancespage' %}"><li class="li">Appliances</li></a>
                <a href="{% url 'culturepage' %}"><li class="li">Culture</li></a>
                <a href="{% url 'buildingpage' %}"><li class="li">Building</li></a>
                <a href="{% url 'flowerpage' %}"><li class="li">Flower</li></a>
                <a href="{% url 'householditemspage' %}"><li class="li">HouseholdItems</li></a>
                <a href="{% url 'sportspage' %}"><li class="li">Sports</li></a>
                <a href="{% url 'workpage' %}"><li class="li">Work</li></a>

            </ul>

 </div>
