{% load static %}
<div class="main">
    
    <p class="document">
        Hello
        {% if request.user.is_authenticated %}
            {{ user.username }}
        {% else %}
            everyone
        {% endif %} 

        , this is Thank_Japan.
        I'm sending this message from Japan.
        Have you ever been to Japan?
        Japan is a country surrounded by the sea.
        This website is for studying Japanese language and culture.
        Let’s study Japanese together!
        I’m looking forward to the day I can meet you all.
        Have a great day!<br>
        You can log in or sign up from the left side, just below "Home" and above "Category."<br><hr>
        <p class="document">
        To register as a member, click on Sign Up, then enter your email address and password, and press the Sign Up button.
        Next, a verification URL will be sent to the email address you provided. 
        Click on that link to return to the Sign Up screen, then click the Confirm button to complete your registration.
        After that, go back to the home page and log in.<br>
        ※Please note that if your password is too similar to your email address, it may result in an error. 
        Also, please make sure to keep your password and email address secure and confidential.
        </p>
        <br><hr>
        <p class="document">
        When you click "Logout," you will be automatically logged out.ease return to the Home page by clicking Home after logging out.
        To log in again, simply click Login.
        During the tournament, please click Withdrawal on the right and enter your email address and password.<br>
        (On smartphones and similar devices, it's located between "Home" and "Category" at the top.)</p>
    </p><hr>

    <h2 class="h2">How to use this site:</h2>
        <p class="document">
        You can view this site for free, and by signing up, you can access even more content. 
        To sign up, click on the word 'Signup' and follow the registration process.
        Please select your preferred genre from the categories on the left.
        After selecting a genre, you will be taken to that genre’s page.
        Click on any item that interests you, 
        and its image, name, and description will be displayed as shown below.<br />
        "By the way, the name will be written in Roman letters."
        </p>

        <p class="yajirushi">↓↓</p>
        
        <img class="image" src="{% static 'css/hujisan.png' %}" alt="fujisan" width={900} height={500}/>
            <dl>
                <dt class="dt">Name: Fuzisan ← Romaji</dt>
                <dd class="dd">description:<br />
                "It stands at an elevation of 3,776 meters, making it the highest mountain in Japan. 
                Straddling Shizuoka and Yamanashi prefectures, 
                it is considered a symbol of Japan for its beautiful appearance."</dd>
            </dl>
       
        <hr />

        <p class="dt">This is tonkotsu ramen made from instant noodles.</p>
        <img class="image" src="{% static 'css/tonkotsuramen.png' %}" alt="tonkotsuramen"/>
        <p class="dt">This is the miso soup we make at home.</p>
        <img class="image" src="{% static 'css/misoshiru.png' %}" alt="misoshiru"/>
        <p class="dt">This is natto on rice.</p>
        <img class="image" src="{% static 'css/nattougohan.png' %}" alt="nattougohan"/>
        <p class="dt">Every now and then, I have takikomi gohan, but it's pretty rare.</p>
        <img class="image" src="{% static 'css/takikomigohan.png' %}" alt="takikomigohan"/>
        <p class="dt">These are tri-colored dumplings made from deep-fried shrimp paste.</p>
        <img class="image" src="{% static 'css/sanshokudango.png' %}" alt="sanshokudango"/>

        

        <p class="return">Clicking on <a class="a" href="">'Home'</a>or Thank_Japan will take you back to the top page (this page).</p>
</div>