{% extends 'base.html' %}
{% load static %}

{% block title %}company infomaiton{% endblock %}

{% block content %}
<div class="main2">
    <h1>Company Infomation</h1>
    <hr><br>
        <h2>
            <ul>
                <li>Company:Company Name</li>      
                <li>Company address:Company Address</li>
            </ul>
        </h2>
    <hr><br>
        <h2>Company introduction</h2>
        <p>Company's description</p>

    <hr><br>
        <h1>------------ Inquiry ------------</h1>
        <br>
            <form action="" method="post">
                
                {% csrf_token %}

                {{ form.non_field_errors }}

                {% for field in form %}
                    <h2>
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                        
                    </h2><br>
                {% endfor %}
                <button class="sendbutton" type="submit">send</button>

            </form>

        
</div>
{% endblock %}