{% extends 'basecategory.html' %}
{% block title %}Game{% endblock %}

{% block content %}

    {% load static %}
    <div class="main2">
        <h1>Quesition & Answer</h1>
            <img class="questiongazou" src="{{ object.image.url }}" alt="No image..." />
            <hr>
            <h1 class=>category: {{ object.category }}</h1>

            {% if message %}
                <h1 class="answermsg">{{ message }}</h1>
            {% endif %}

                <form method="POST" action="{% url 'answer' object.id %}">
                    {% csrf_token %}

                    {{ form.non_field_errors }}

                    {% for field in form %}
                        <br>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <h2 style="color: red;">{{ error }}</h2>
                            {% endfor %}
                        {% endif %}
                        <h2>{{ field.label_tag }}</h2>
                        <h5>"For items with the same name,
                            <br>include the category name in parentheses. etc->kaki(kudamono)"</h5>
                        <br>
                            {{ field }}
                        <br>
                    {% endfor %}
                    <br>
                    {% if not message %}
                        <button class="answerbutton" type="submit">Answer</button>
                    {% endif %}
                </form>
            
            <br>
            <a href="{% url 'game' %}"><button class="answerbutton">Next</button></a>
    
    </div>

 
{% endblock %}