{% extends 'basecategory.html' %}
{% block title %}Food{% endblock %}

{% block content %}

    {% load static %}
    <div class="main2">
        <img class="detailgazou" src="{{ object.image.url }}" alt="detailImage" />
            <dl>
                <dt class="detaildt">Name: {{ object.name }}</dt>
                <hr>
                <dd class="detaildd">description:<br />
                <hr>
                    {{ object.description }}
                </dd>
            </dl>
    </div>

 
    {% include 'footer.html' %}
{% endblock %}

