{% extends 'basecategory.html' %}
{% block title %}Food{% endblock %}

{% block content %}

    {% load static %}
    <div class="main2">
        <img class="image" src="{{ object.image.url }}" alt="detailImage" width={900} height={500}/>
            <dl>
                <dt class="dt">Name: {{ object.name }}</dt>
                <dd class="dd">description:<br />
                    {{ object.description }}
                </dd>
            </dl>
    </div>

 
    {% include 'footer.html' %}
{% endblock %}

