{% extends 'base/base.html' %}
{% block content %}
<div style="text-align: center; margin-top: 200px;">
    <h2>Email Sent! ✉️</h2>
    <p>We've emailed you instructions for setting your password.</p>
    <p>If you don't receive it, please check your spam folder.</p>

    <div style="text-align:center; margin:50px 0;">
        <a class="btn-more" href="javascript:void(0);" onclick="goToTopPage()">← Back to Home</a>
    </div>
</div>

<script>
    function goToTopPage() {
        const topUrl = localStorage.getItem('tj_top_url');
        if (topUrl) {
            window.location.href = topUrl;
        } else {
            window.location.href = "{% url 'toppage' %}";
        }
    }
</script>

{% endblock %}