.accountbody {
    background-image: url("kanin02.png");
    font-size: 30px;
    color: white;
    text-align: center;
}

.accountul {
    margin-top: 10px;
    padding-top: 20px;
}

.accounth1 {
    color: yellow;
}

.accountli:hover {
    color: red;
    width: 20px;
}

.accounth1:hover {
    color: red;
}

.kiyaku {
    text-decoration: underline solid black;
    color: yellow;
}

.kiyaku:hover {
    color: red;
}
