.main2 {
    width: auto;
    flex-grow: 1;
    margin-top: 120px;
    margin-left: 250px;
    box-sizing: border-box;
    border: 2px solid green;
    background-color: black;
    color: white;
    
}

.detailgazou {
    height: 500px;
    width: 100%;
}

.detaildt {
    font-size: 40px;
    text-align: center;
    color: yellow;
}

.detaildd {
    font-size: 30px;
    text-align: center;
}

@media (max-width: 500px) {

    .main2 {
        display: block;
        margin-top: 250px;
        width: 100%;
        margin-left: 0px;
        color: white;
    }
    .detailgazou {
        width: 100%;
        height: 200px;
    }

}
