.header {
    width: 100%;
    height: 120px;
    justify-items: center;
    background-image: url("https://res.cloudinary.com/dotekofm5/image/upload/v1754641165/thankjapan/backgrounds/urhlsfokzrozs5835nkh.png");

    background-size: 100%;
    position: fixed;
  }
  
  .title {
    font-size: 80px;
    margin-top: 10px;
    color: red;
  }

 

  @media (max-width: 500px) {
    .header {
      height: 100px;
    }
    .title {
      font-size: 55px;
      color: yellow;
    }
  }