.riyoumain {
    background-image: url("https://res.cloudinary.com/dotekofm5/image/upload/v1754642598/thankjapan/backgrounds/vmj18f91v1gxw2rwb7kj.png");
}

.riyoudt {
    font-size: 30px;
    padding-top: 10px;
}

.riyoudd {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
}

.riyoua {
    font-size: 40px;
    padding-left: 20px;
    color: yellow;
    item-align: center;
}

.riyoua:hover {
    color: red;
}