.sidebar {
    width: 250px;
    height: 200vh;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid black;
    background: linear-gradient(skyblue, yellowgreen, blue, pink);
    margin-top: 120px;
    position: fixed;
}

.ul {
    list-style: disc;
    font-size: 25px;
    margin: 10px 0px 50px 50px;

}

.li {
    padding-bottom: 10px;
}

.li:hover {
    color: red;
}

.category {
    font-size: 30px;
    margin-top: 10px;
    padding-left: 20px;
}

.home {
    font-size: 30px;
    margin-top: 10px;
    padding-left: 10px;
}

.home:hover {
    color: red;
}

.href:hover {
    color: red;
}

@media (max-width: 500px) {
    .sidebar {
        margin-top: 100px;
        height: 150px;
        width: 100%;
        background: linear-gradient(skyblue, yellowgreen, red, pink);
        overflow-x: scroll;
        
    }

    .category {
        padding-left: 10px;
        font-size: 40px;
        text-align: center;
    }

    .ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
    }

    .li {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 30px;
    }

    .href:hover {
        color: blue;
    }
}

