{% extends 'base/base.html' %}

{% block title %}รวมอาหารญี่ปุ่น | ซูชิ ราเม็ง เทมปุระ ขนมหวานญี่ปุ่น & สูตรอาหารดั้งเดิม | ThankJapan{% endblock %}
{% block og_title %}สำรวจโลกอาหารญี่ปุ่น - ซูชิ ราเม็ง เทมปุระ อาหารข้างทาง ขนมหวาน & อาหารดั้งเดิม | ThankJapan{% endblock %}
{% block og_description %}สำรวจทุกมุมของอาหารญี่ปุ่น ตั้งแต่ซูชิสดใหม่ ราเม็งรสเข้มข้น เทมปุระกรอบ ๆ ไปจนถึงขนมหวานญี่ปุ่นและอาหารข้างทางสูตรดั้งเดิม เรียนรู้สูตรแท้ เทคนิคการทำอาหาร และเรื่องราวทางวัฒนธรรม เพื่อสัมผัสรสชาติญี่ปุ่นได้แม้อยู่ที่บ้าน{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block description %}สัมผัสประสบการณ์อาหารญี่ปุ่นแบบครบวงจร: ซูชิ ราเม็ง เทมปุระ ขนมหวานญี่ปุ่น อาหารข้างทาง และอาหารดั้งเดิม ค้นพบประวัติความเป็นมา วัตถุดิบแท้ และเคล็ดลับการปรุง เพื่อเข้าใจวัฒนธรรมอาหารญี่ปุ่นอย่างลึกซึ้งและเพลิดเพลินกับรสชาติแท้ ๆ ที่บ้าน{% endblock %}


{% block content %}

 {% include 'jpfood/japanfood_th.html' %}

{% endblock %}