{% extends 'base/base_es_mx.html' %}

{% block title %}Guía Completa de la Cocina Japonesa | Sushi, Ramen, Tempura, Postres & Recetas Tradicionales | ThankJapan{% endblock %}
{% block og_title %}Descubre el Mundo de la Cocina Japonesa - Sushi, Ramen, Tempura, Comida Callejera, Postres y Recetas Tradicionales | ThankJapan{% endblock %}
{% block og_description %}Explora todos los sabores de Japón: sushi fresco, ramen delicioso, tempura crujiente, postres tradicionales y comida callejera típica. Aprende recetas auténticas, técnicas de preparación y las historias culturales detrás de cada platillo, para disfrutar la experiencia de la cocina japonesa sin salir de casa.{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block description %}Vive la experiencia completa de la cocina japonesa: sushi, ramen, tempura, postres tradicionales, comida callejera y platillos típicos. Descubre ingredientes auténticos, secretos de preparación y la historia de cada platillo, explorando la rica cultura gastronómica de Japón y saboreando sus auténticos sabores desde la comodidad de tu hogar.{% endblock %}

{% block hreflang_tags %}
    <link rel="alternate" hreflang="en" href="https://www.thankjapan.com/japanfood/">
    <link rel="alternate" hreflang="ja" href="https://www.thankjapan.com/japanfood/ja/">
    <link rel="alternate" hreflang="vi" href="https://www.thankjapan.com/japanfood/vi/">
    <link rel="alternate" hreflang="fr" href="https://www.thankjapan.com/japanfood/fr/">
    <link rel="alternate" hreflang="it" href="https://www.thankjapan.com/japanfood/it/">
    <link rel="alternate" hreflang="pt" href="https://www.thankjapan.com/japanfood/pt/">
    <link rel="alternate" hreflang="zh-hant" href="https://www.thankjapan.com/japanfood/zh-hant/">
    <link rel="alternate" hreflang="ko" href="https://www.thankjapan.com/japanfood/ko/">
    <link rel="alternate" hreflang="es-es" href="https://www.thankjapan.com/japanfood/es-es/">
    <link rel="alternate" hreflang="de" href="https://www.thankjapan.com/japanfood/de/">
    <link rel="alternate" hreflang="th" href="https://www.thankjapan.com/japanfood/th/">
    <link rel="alternate" hreflang="pt-br" href="https://www.thankjapan.com/japanfood/pt-br/">
    <link rel="alternate" hreflang="es-mx" href="https://www.thankjapan.com/japanfood/es-mx/">
    <link rel="alternate" hreflang="en-in" href="https://www.thankjapan.com/japanfood/en-in/">
    <link rel="alternate" hreflang="zh-cn" href="https://www.thankjapan.com/japanfood/zh-cn/">
    <link rel="alternate" hreflang="x-default" href="https://www.thankjapan.com/japanfood/">

{% endblock %}

{% block content %}

 {% include 'jpfood/japanfood_es_mx.html' %}

{% endblock %}