{% extends 'base/base_fr.html' %}

{% block title %}Guide Complète de la Cuisine Japonaise | Sushi, Ramen, Tempura, Pâtisseries & Recettes Traditionnelles | ThankJapan{% endblock %}
{% block og_title %}Découvrez le Monde de la Cuisine Japonaise - Sushi, Ramen, Tempura, Street Food, Pâtisseries et Recettes Traditionnelles | ThankJapan{% endblock %}
{% block og_description %}Explorez tous les saveurs du Japon : sushi frais, ramen savoureux, tempura croustillante, pâtisseries traditionnelles et street food typique. Apprenez des recettes authentiques, des techniques de préparation et découvrez les histoires culturelles derrière chaque plat, pour vivre l’expérience de la cuisine japonaise directement chez vous.{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block description %}Vivez une expérience complète de la cuisine japonaise : sushi, ramen, tempura, pâtisseries traditionnelles, street food et plats typiques. Découvrez les ingrédients authentiques, les secrets de préparation et l’histoire de chaque plat, explorez la richesse de la culture gastronomique japonaise et savourez les véritables saveurs du Japon chez vous.{% endblock %}

{% block hreflang_tags %}
    <link rel="alternate" hreflang="en" href="https://www.thankjapan.com/japanfood/">
    <link rel="alternate" hreflang="ja" href="https://www.thankjapan.com/japanfood/ja/">
    <link rel="alternate" hreflang="vi" href="https://www.thankjapan.com/japanfood/vi/">
    <link rel="alternate" hreflang="fr" href="https://www.thankjapan.com/japanfood/fr/">
    <link rel="alternate" hreflang="it" href="https://www.thankjapan.com/japanfood/it/">
    <link rel="alternate" hreflang="pt" href="https://www.thankjapan.com/japanfood/pt/">
    <link rel="alternate" hreflang="zh-hant" href="https://www.thankjapan.com/japanfood/zh-hant/">
    <link rel="alternate" hreflang="ko" href="https://www.thankjapan.com/japanfood/ko/">
    <link rel="alternate" hreflang="es-es" href="https://www.thankjapan.com/japanfood/es-es/">
    <link rel="alternate" hreflang="de" href="https://www.thankjapan.com/japanfood/de/">
    <link rel="alternate" hreflang="th" href="https://www.thankjapan.com/japanfood/th/">
    <link rel="alternate" hreflang="pt-br" href="https://www.thankjapan.com/japanfood/pt-br/">
    <link rel="alternate" hreflang="es-mx" href="https://www.thankjapan.com/japanfood/es-mx/">
    <link rel="alternate" hreflang="en-in" href="https://www.thankjapan.com/japanfood/en-in/">
    <link rel="alternate" hreflang="x-default" href="https://www.thankjapan.com/japanfood/">

{% endblock %}

{% block content %}

 {% include 'jpfood/japanfood_fr.html' %}

{% endblock %}