{% extends 'base/base.html' %}

{% block title %}Authentic Japanese Food | Sushi, Ramen, Tempura & Traditional Recipes | ThankJapan{% endblock %}
{% block og_title %}Explore the Best of Japanese Cuisine - Sushi, Ramen, Tempura, Street Food & Traditional Sweets | ThankJapan{% endblock %}
{% block og_description %}Dive into the world of authentic Japanese cuisine: fresh sushi, savory ramen, crispy tempura, popular street food, and traditional sweets. Learn authentic recipes, cooking tips, and the fascinating cultural stories behind Japan’s most iconic dishes – perfect for experiencing Japanese flavors from home.{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block description %}Experience the full spectrum of Japanese cuisine: from sushi and ramen to tempura, street food, and traditional sweets. Discover authentic ingredients, cooking secrets, and the stories behind Japan’s most famous dishes. Enjoy the true flavors of Japan and immerse yourself in its rich culinary culture without leaving home.{% endblock %}


{% block content %}

 {% include 'jpfood/japanfood.html' %}

{% endblock %}