{% extends 'base/base.html' %}

{% block title %}Explore Japanese Culture | Castles, Gardens, Festivals & Traditions | ThankJapan{% endblock %}
{% block og_title %}Discover Japan's Rich Culture - Castles, Gardens, Festivals & Everyday Life | ThankJapan{% endblock %}
{% block og_description %}Dive into Japan's cultural heritage. Explore historic castles, tranquil gardens, seasonal festivals, traditional arts, and daily life that make Japan unique.{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block description %}Experience Japan beyond cuisine. Learn about historic castles, beautiful gardens, vibrant festivals, traditional crafts, and the fascinating customs that define Japanese culture.{% endblock %}

{% block hreflang_tags %}
    <link rel="alternate" hreflang="en" href="https://www.thankjapan.com/japanculture/">
    <link rel="alternate" hreflang="ja" href="https://www.thankjapan.com/japanculture/ja/">
    <link rel="alternate" hreflang="vi" href="https://www.thankjapan.com/japanculture/vi/">
    <link rel="alternate" hreflang="fr" href="https://www.thankjapan.com/japanculture/fr/">
    <link rel="alternate" hreflang="it" href="https://www.thankjapan.com/japanculture/it/">
    <link rel="alternate" hreflang="pt" href="https://www.thankjapan.com/japanculture/pt/">
    <link rel="alternate" hreflang="zh-hant" href="https://www.thankjapan.com/japanculture/zh-hant/">
    <link rel="alternate" hreflang="ko" href="https://www.thankjapan.com/japanculture/ko/">
    <link rel="alternate" hreflang="es-es" href="https://www.thankjapan.com/japanculture/es-es/">
    <link rel="alternate" hreflang="de" href="https://www.thankjapan.com/japanculture/de/">
    <link rel="alternate" hreflang="th" href="https://www.thankjapan.com/japanculture/th/">
    <link rel="alternate" hreflang="pt-br" href="https://www.thankjapan.com/japanculture/pt-br/">
    <link rel="alternate" hreflang="es-mx" href="https://www.thankjapan.com/japanculture/es-mx/">
    <link rel="alternate" hreflang="en-in" href="https://www.thankjapan.com/japanculture/en-in/">
    <link rel="alternate" hreflang="x-default" href="https://www.thankjapan.com/japanculture/">

{% endblock %}


{% block content %}

 {% include 'jpculture/japanculture.html' %}

{% endblock %}