{% extends 'base/base_it.html' %}

{% block title %}Esplora la Cultura Giapponese | Castelli Storici, Giardini Giapponesi, Festival & Tradizioni | ThankJapan{% endblock %}
{% block og_title %}Scopri la Cultura Giapponese - Castelli Storici, Giardini Giapponesi, Festival Tradizionali & Vita Quotidiana | ThankJapan{% endblock %}
{% block og_description %}Esplora il patrimonio culturale del Giappone: castelli storici, tranquilli giardini giapponesi, festival stagionali, arti tradizionali e la vita quotidiana unica del Giappone. Scopri la cultura giapponese oggi stesso!{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block description %}Vivi il Giappone oltre la gastronomia: scopri castelli storici, splendidi giardini giapponesi, vivaci festival tradizionali, artigianato unico e le usanze quotidiane che definiscono la cultura giapponese. Approfondisci e sperimenta la cultura giapponese in modo autentico!{% endblock %}

{% block hreflang_tags %}
    <link rel="alternate" hreflang="en" href="https://www.thankjapan.com/japanculture/">
    <link rel="alternate" hreflang="ja" href="https://www.thankjapan.com/japanculture/ja/">
    <link rel="alternate" hreflang="vi" href="https://www.thankjapan.com/japanculture/vi/">
    <link rel="alternate" hreflang="fr" href="https://www.thankjapan.com/japanculture/fr/">
    <link rel="alternate" hreflang="it" href="https://www.thankjapan.com/japanculture/it/">
    <link rel="alternate" hreflang="pt" href="https://www.thankjapan.com/japanculture/pt/">
    <link rel="alternate" hreflang="zh-hant" href="https://www.thankjapan.com/japanculture/zh-hant/">
    <link rel="alternate" hreflang="ko" href="https://www.thankjapan.com/japanculture/ko/">
    <link rel="alternate" hreflang="es-es" href="https://www.thankjapan.com/japanculture/es-es/">
    <link rel="alternate" hreflang="de" href="https://www.thankjapan.com/japanculture/de/">
    <link rel="alternate" hreflang="th" href="https://www.thankjapan.com/japanculture/th/">
    <link rel="alternate" hreflang="pt-br" href="https://www.thankjapan.com/japanculture/pt-br/">
    <link rel="alternate" hreflang="es-mx" href="https://www.thankjapan.com/japanculture/es-mx/">
    <link rel="alternate" hreflang="en-in" href="https://www.thankjapan.com/japanculture/en-in/">
    <link rel="alternate" hreflang="zh-cn" href="https://www.thankjapan.com/japanculture/zh-cn/">
    <link rel="alternate" hreflang="x-default" href="https://www.thankjapan.com/japanculture/">

{% endblock %}

{% block content %}

 {% include 'jpculture/japanculture_it.html' %}

{% endblock %}