{% extends 'base/base_pt.html' %}

{% block title %}Explore a Cultura Japonesa | Castelos Históricos, Jardins Japoneses, Festivais & Tradições | ThankJapan{% endblock %}
{% block og_title %}Descubra a Cultura Japonesa - Castelos Históricos, Jardins Japoneses, Festivais Tradicionais & Vida Cotidiana | ThankJapan{% endblock %}
{% block og_description %}Explore o patrimônio cultural do Japão: castelos históricos, jardins japoneses tranquilos, festivais sazonais, artes tradicionais e o cotidiano único do Japão. Conheça a cultura japonesa hoje mesmo!{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block description %}Vivencie o Japão além da gastronomia: descubra castelos históricos, belos jardins japoneses, festivais tradicionais animados, artesanato único e costumes diários que definem a cultura japonesa. Aprenda e experimente a cultura japonesa de forma autêntica!{% endblock %}

{% block hreflang_tags %}
    <link rel="alternate" hreflang="en" href="https://www.thankjapan.com/japanculture/">
    <link rel="alternate" hreflang="ja" href="https://www.thankjapan.com/japanculture/ja/">
    <link rel="alternate" hreflang="vi" href="https://www.thankjapan.com/japanculture/vi/">
    <link rel="alternate" hreflang="fr" href="https://www.thankjapan.com/japanculture/fr/">
    <link rel="alternate" hreflang="it" href="https://www.thankjapan.com/japanculture/it/">
    <link rel="alternate" hreflang="pt" href="https://www.thankjapan.com/japanculture/pt/">
    <link rel="alternate" hreflang="zh-hant" href="https://www.thankjapan.com/japanculture/zh-hant/">
    <link rel="alternate" hreflang="ko" href="https://www.thankjapan.com/japanculture/ko/">
    <link rel="alternate" hreflang="es-es" href="https://www.thankjapan.com/japanculture/es-es/">
    <link rel="alternate" hreflang="de" href="https://www.thankjapan.com/japanculture/de/">
    <link rel="alternate" hreflang="th" href="https://www.thankjapan.com/japanculture/th/">
    <link rel="alternate" hreflang="pt-br" href="https://www.thankjapan.com/japanculture/pt-br/">
    <link rel="alternate" hreflang="es-mx" href="https://www.thankjapan.com/japanculture/es-mx/">
    <link rel="alternate" hreflang="en-in" href="https://www.thankjapan.com/japanculture/en-in/">
    <link rel="alternate" hreflang="x-default" href="https://www.thankjapan.com/japanculture/">

{% endblock %}

{% block content %}

 {% include 'jpculture/japanculture_pt.html' %}

{% endblock %}