{% extends 'base/base_fr.html' %}
{% block title %}Apprendre le Japonais et la Culture | Jeu Quiz Gratuit | ThankJapan{% endblock %}

{% block meta %}
    <meta name="title" content="Apprendre le Japonais et la Culture | Jeu Quiz Gratuit | ThankJapan">
    <meta name="description" content="Maîtrisez le vocabulaire japonais, les Kanji et la culture gratuitement. Apprenez avec des images, testez vos compétences avec des quiz interactifs et montez en grade depuis 'Voyageur' !">

    <meta name="robots" content="index,follow">
    <meta name="keywords" content="Quiz japonais, apprendre le japonais, hiragana, kanji, culture japonaise, jeu gratuit, ThankJapan">

    <!-- Open Graph -->
    <meta property="og:title" content="Apprendre le Japonais et la Culture | Jeu Quiz Gratuit | ThankJapan" />
    <meta property="og:description" content="Maîtrisez le vocabulaire japonais, les Kanji et la culture gratuitement. Testez vos compétences et montez en grade !" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.thankjapan.com/fr/" />
    <meta property="og:image" content="https://res.cloudinary.com/dotekofm5/image/upload/v1761402106/thankjapan/backgrounds/jtbdzjsksgbgehuxl954.jpg" />
    <meta property="og:site_name" content="ThankJapan" />
    <meta property="og:locale" content="fr_FR" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Apprendre le Japonais et la Culture | Jeu Quiz Gratuit | ThankJapan">
    <meta name="twitter:description" content="Maîtrisez le vocabulaire japonais, les Kanji et la culture gratuitement. Testez vos compétences et montez en grade !">
    <meta name="twitter:image" content="https://res.cloudinary.com/dotekofm5/image/upload/v1761402106/thankjapan/backgrounds/jtbdzjsksgbgehuxl954.jpg">
    <meta name="twitter:site" content="@thankjapan0514">
{% endblock %}

{% block hreflang_tags %}
    <link rel="alternate" hreflang="en" href="https://www.thankjapan.com/">
    <link rel="alternate" hreflang="ja" href="https://www.thankjapan.com/ja/">
    <link rel="alternate" hreflang="vi" href="https://www.thankjapan.com/vi/">
    <link rel="alternate" hreflang="en-IN" href="https://www.thankjapan.com/en-in/">
    <link rel="alternate" hreflang="fr" href="https://www.thankjapan.com/fr/">
    <link rel="alternate" hreflang="it" href="https://www.thankjapan.com/it/">
    <link rel="alternate" hreflang="pt-PT" href="https://www.thankjapan.com/pt/">
    <link rel="alternate" hreflang="pt-BR" href="https://www.thankjapan.com/pt-br/">
    <link rel="alternate" hreflang="zh-Hant" href="https://www.thankjapan.com/zh-hant/">
    <link rel="alternate" hreflang="ko" href="https://www.thankjapan.com/ko/">
    <link rel="alternate" hreflang="es-ES" href="https://www.thankjapan.com/es-es/">
    <link rel="alternate" hreflang="es-MX" href="https://www.thankjapan.com/es-mx/">
    <link rel="alternate" hreflang="de" href="https://www.thankjapan.com/de/">
    <link rel="alternate" hreflang="th" href="https://www.thankjapan.com/th/">
    <link rel="alternate" hreflang="x-default" href="https://www.thankjapan.com/">
{% endblock %}

{% block content %}

 {% include 'top-main_fr.html' %}

{% endblock %}