
{% extends 'basecategory.html' %}
{% block title %}Building{% endblock %}

{% block content %}

    {% load static %}
    <div class="main2">
    
        {% for item in object_list %}
                                           
            {% if item.image %}
                                           
                <a href="{% url 'detail' item.id %}">
                    <img class="gazou" src="{{ item.image.url }}" alt="No image..." />
                </a>

            {% else %}

                <p>No image available</p>

            {% endif %}
          
        {% endfor %}
       
    </div>

 
{% endblock %}