{% extends 'base.html' %}
{% load static %}

{% block title %}company infomaiton{% endblock %}

{% block content %}
<div class="main2">
    <h1>Company Infomation</h1>
    <hr><br>
        <h2>
            <ul>
                <li>Company: ThankJapan</li>      
                <li>Company address: Kanazawashi Ishikawaken Japan</li>
            </ul>
        </h2>
    <hr><br>
        <h2>Company introduction</h2>
        <p>company's description</p>
        <br>
        
    <hr><br>

        <a class="anchor" href="{% url 'riyoukiyaku' %}"><h3>Terms of Use</h3></a>
        
</div>
{% endblock %}