{% extends 'basecategory.html' %}
{% block title %}Japanese Culture Explained | Traditions, Customs & History of Japan | ThankJapan{% endblock %}

{% block og_title %}Japanese Culture - Traditions, Festivals & Values | ThankJapan{% endblock %}
{% block og_description %}Dive into Japanese cultural practices including tea ceremony, festivals, customs, and etiquette.{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block description %}Dive into Japanese cultural practices including tea ceremony, festivals, customs, and etiquette.{% endblock %}

{% block content %}

    {% load static %}

    <script>
        window.shareText = "Dive into Japanese Culture with ThankJapan!";
    </script>

    <div class="main2">
    
        <h1>Japanese Culture: Traditions, Customs, and Daily Life</h1>
        <p>Learn about Japan’s cultural heritage, including tea ceremonies, etiquette, festivals, and more.</p>

        {% for item in object_list %}
                                           
            {% if item.image %}
                                           
                <a href="{% url 'detail' item.id %}">
                    <img class="gazou" src="{{ item.image.url }}" alt="{{ item.englishname }}" />
                </a>

            {% else %}

                <p>No image available</p>

            {% endif %}
          
        {% endfor %}
       
    
    </div>

 
{% endblock %}