{% extends 'basecategory.html' %}
{% block title %}Popular Sports in Japan | Martial Arts, Baseball & More | ThankJapan{% endblock %}

{% block content %}

    {% load static %}
    <div class="main2">
    
        <h1>Sports in Japan: From Sumo to Baseball</h1>
        <p>Learn about traditional and modern sports popular in Japan, including martial arts, sumo, and more.</p>

        {% for item in object_list %}
                                           
            {% if item.image %}
                                           
                <a href="{% url 'detail' item.id %}">
                    <img class="gazou" src="{{ item.image.url }}" alt="{{ item.englishname }}" />
                </a>

            {% else %}

                <p>No image available</p>

            {% endif %}
          
        {% endfor %}
       
    </div>

 
{% endblock %}