{% extends 'basecategory.html' %}
{% block title %}{{ object.category }}{% endblock %}

{% block content %}

    {% load static %}
    <div class="main2">
        {% if object.image and object.image.url %}
            <img class="detailgazou" src="{{ object.image.url }}" alt="detailImage" />
        {% else %}
            <p>No image available</p>
        {% endif %}
            <h2>English Name:</h2><h1 class="detaildt">{{object.englishname }}</h1> 
            <hr>
            <h2>japanese Name:</h2> <p class="detaildt">{{ object.jpname }}</p>
            <hr>
            <h2>Romaji name:</h2> <p class="detaildt">{{ object.name }}</p>
                <hr>
                <p class="detaildd">description<br />
                    {{ object.description }}
                </p>
                <hr>
                <p class="detaildd">history<br />
                    {{ object.history}}
                </p>
            
    </div>

 
    {% include 'footer.html' %}
{% endblock %}

