<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    {% include 'css.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block meta %}
    <meta name="description" content="이 사이트는 일본의 생활, 문화, 음식 등을 소개합니다. 각 항목에는 로마자 읽기가 제공됩니다. 전 세계 사람들과 일본을 공유하고자 합니다.">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="일본, 일본문화, 일본음식">

    <meta property="og:title" content="ThankJapan 공유" />
    <meta property="og:description" content="일본 소개 사이트" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.thankjapan.com" />
    <meta property="og:image" content="https://res.cloudinary.com/dotekofm5/image/upload/v1754642770/thankjapan/backgrounds/ntpvmxgudcmvp0snpiur.png" />
    <meta property="og:site_name" content="ThankJapan" />
    <meta property="og:locale" content="ko_KR" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="ThankJapan 공유">
    <meta name="twitter:description" content="이 사이트는 일본의 문화, 음식, 언어를 전 세계에 소개합니다.">
    <meta name="twitter:image" content="https://res.cloudinary.com/dotekofm5/image/upload/v1754642770/thankjapan/backgrounds/ntpvmxgudcmvp0snpiur.png">
    <meta name="twitter:site" content="@thankjapan0514">

    <link rel="alternate" hreflang="en" href="https://www.thankjapan.com/">
    <link rel="alternate" hreflang="ja" href="https://www.thankjapan.com/ja/">
    <link rel="alternate" hreflang="vi" href="https://www.thankjapan.com/vi/">
    <link rel="alternate" hreflang="en-IN" href="https://www.thankjapan.com/en-in/">
    <link rel="alternate" hreflang="fr" href="https://www.thankjapan.com/fr/">
    <link rel="alternate" hreflang="it" href="https://www.thankjapan.com/it/">
    <link rel="alternate" hreflang="pt-PT" href="https://www.thankjapan.com/pt/">
    <link rel="alternate" hreflang="pt-BR" href="https://www.thankjapan.com/pt-br/">
    <link rel="alternate" hreflang="zh-Hant" href="https://www.thankjapan.com/zh-hant/">
    <link rel="alternate" hreflang="ko" href="https://www.thankjapan.com/ko/">
    <link rel="alternate" hreflang="es-ES" href="https://www.thankjapan.com/es-es/">
    <link rel="alternate" hreflang="es-MX" href="https://www.thankjapan.com/es-mx/">
    <link rel="alternate" hreflang="de" href="https://www.thankjapan.com/de/">
    <link rel="alternate" hreflang="th" href="https://www.thankjapan.com/th/">
    <link rel="alternate" hreflang="x-default" href="https://www.thankjapan.com/">
    
    
    {% endblock %}

    <title>{% block title %}ThankJapan{% endblock %}</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_TRACKING_ID }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ GA_TRACKING_ID }}');
    </script>
</head>

<body>
    {% include 'header.html' %}
    {% include 'sidebar.html' %}

    {% block content %}{% endblock %}

    {% include 'footer.html' %}
</body>
</html>
