<!DOCTYPE html>
{% load static %}
<html lang="it">
<head>
    {% include 'css.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block meta %}
    <meta name="title" content="Scopri la cultura, il cibo e la lingua giapponese | ThankJapan">
    <meta name="description" content="Esplora la vita, la cucina e la lingua giapponese con contenuti interattivi e giochi didattici. Vivi il Giappone ovunque tu sia.">

    <meta name="robots" content="index,follow">
    <meta name="keywords" content="Giappone, cultura giapponese, lingua giapponese">

    <meta property="og:title" content="ThankJapan - Condividere il Giappone" />
    <meta property="og:description" content="Un sito per scoprire la cultura, il cibo e la lingua giapponese." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.thankjapan.com/it/" />
    <meta property="og:image" content="https://res.cloudinary.com/dotekofm5/image/upload/v1754642770/thankjapan/backgrounds/ntpvmxgudcmvp0snpiur.png" />
    <meta property="og:site_name" content="ThankJapan" />
    <meta property="og:locale" content="it_IT" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="ThankJapan - Condividere il Giappone">
    <meta name="twitter:description" content="Scopri la cultura, la lingua e il cibo del Giappone.">
    <meta name="twitter:image" content="https://res.cloudinary.com/dotekofm5/image/upload/v1754642770/thankjapan/backgrounds/ntpvmxgudcmvp0snpiur.png">
    <meta name="twitter:site" content="@thankjapan0514">

    <link rel="alternate" hreflang="en" href="https://www.thankjapan.com/">
    <link rel="alternate" hreflang="ja" href="https://www.thankjapan.com/ja/">
    <link rel="alternate" hreflang="vi" href="https://www.thankjapan.com/vi/">
    <link rel="alternate" hreflang="en-IN" href="https://www.thankjapan.com/en-in/">
    <link rel="alternate" hreflang="fr" href="https://www.thankjapan.com/fr/">
    <link rel="alternate" hreflang="it" href="https://www.thankjapan.com/it/">
    <link rel="alternate" hreflang="pt-PT" href="https://www.thankjapan.com/pt/">
    <link rel="alternate" hreflang="pt-BR" href="https://www.thankjapan.com/pt-br/">
    <link rel="alternate" hreflang="zh-Hant" href="https://www.thankjapan.com/zh-hant/">
    <link rel="alternate" hreflang="ko" href="https://www.thankjapan.com/ko/">
    <link rel="alternate" hreflang="es-ES" href="https://www.thankjapan.com/es-es/">
    <link rel="alternate" hreflang="es-MX" href="https://www.thankjapan.com/es-mx/">
    <link rel="alternate" hreflang="de" href="https://www.thankjapan.com/de/">
    <link rel="alternate" hreflang="th" href="https://www.thankjapan.com/th/">
    <link rel="alternate" hreflang="x-default" href="https://www.thankjapan.com/">
    
    
    
    {% endblock %}

    <title>{% block title %}ThankJapan | Scopri il Giappone{% endblock %}</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_TRACKING_ID }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ GA_TRACKING_ID }}');
    </script>

</head>

<body>

   

    {% block content %}{% endblock %}

    

</body>
</html>
