<!DOCTYPE html>
{% load static %}
<html lang="th">
<head>
    {% include 'css.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block meta %}
    <meta name="title" content="ค้นพบวัฒนธรรม อาหาร และภาษาญี่ปุ่น | ThankJapan">
    <meta name="description" content="สำรวจชีวิต อาหาร และภาษาญี่ปุ่นผ่านเนื้อหาเชิงโต้ตอบและเกมการเรียนรู้ สนุกกับการสัมผัสญี่ปุ่นได้จากทุกที่ในโลก">

    <meta name="robots" content="index,follow">
    <meta name="keywords" content="ญี่ปุ่น, Japanese, Japan">

    <meta property="og:title" content="แชร์ประสบการณ์ญี่ปุ่นกับ ThankJapan" />
    <meta property="og:description" content="แนะนำวัฒนธรรม อาหาร และภาษาญี่ปุ่นให้ผู้คนทั่วโลก" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.thankjapan.com" />
    <meta property="og:image" content="https://res.cloudinary.com/dotekofm5/image/upload/v1754642770/thankjapan/backgrounds/ntpvmxgudcmvp0snpiur.png" />
    <meta property="og:site_name" content="ThankJapan" />
    <meta property="og:locale" content="th_TH"  />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="แชร์ประสบการณ์ญี่ปุ่นกับ ThankJapan">
    <meta name="twitter:description" content="เว็บไซต์นี้แนะนำวัฒนธรรม อาหาร และภาษาญี่ปุ่นให้ผู้คนทั่วโลก">
    <meta name="twitter:image" content="https://res.cloudinary.com/dotekofm5/image/upload/v1754642770/thankjapan/backgrounds/ntpvmxgudcmvp0snpiur.png">
    <meta name="twitter:site" content="@thankjapan0514">

    <!-- hreflang links -->
    <link rel="alternate" hreflang="en" href="https://www.thankjapan.com/">
    <link rel="alternate" hreflang="ja" href="https://www.thankjapan.com/ja/">
    <link rel="alternate" hreflang="vi" href="https://www.thankjapan.com/vi/">
    <link rel="alternate" hreflang="en-IN" href="https://www.thankjapan.com/en-in/">
    <link rel="alternate" hreflang="fr" href="https://www.thankjapan.com/fr/">
    <link rel="alternate" hreflang="it" href="https://www.thankjapan.com/it/">
    <link rel="alternate" hreflang="pt-PT" href="https://www.thankjapan.com/pt/">
    <link rel="alternate" hreflang="pt-BR" href="https://www.thankjapan.com/pt-br/">
    <link rel="alternate" hreflang="zh-Hant" href="https://www.thankjapan.com/zh-hant/">
    <link rel="alternate" hreflang="ko" href="https://www.thankjapan.com/ko/">
    <link rel="alternate" hreflang="es-ES" href="https://www.thankjapan.com/es-es/">
    <link rel="alternate" hreflang="es-MX" href="https://www.thankjapan.com/es-mx/">
    <link rel="alternate" hreflang="de" href="https://www.thankjapan.com/de/">
    <link rel="alternate" hreflang="th" href="https://www.thankjapan.com/th/">
    <link rel="alternate" hreflang="x-default" href="https://www.thankjapan.com/">
    
    
    {% endblock %}

    <title>{% block title %}ThankJapan{% endblock %}</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_TRACKING_ID }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ GA_TRACKING_ID }}');
    </script>
</head>

<body>

    {% include 'header.html' %}
    {% include 'sidebar.html' %}

    {% block content %}{% endblock %}

    {% include 'footer.html' %}
       
</body>
</html>
