.main {
    width: auto;
    flex-grow: 1;
    margin-top: 120px;
    margin-left: 250px;
    box-sizing: border-box;
    border: 2px solid green;
    background: linear-gradient(skyblue, orange, red, blue, pink);  
    
}

.sns {
    margin-left: 250px;
}



.accountul {
    display: flex;
}

.accountli {
    font-size: 20px;
}

.undermain {
    background-color: black;
    color: white;
}

.document {
    font-size: 30px;
    padding-top: 10px;
    margin-left: 5px;
}

.image {
    margin-top: 10px;
    width: 100%;
}

.dt {
    font-size: 40px;
    text-align: center;
    color: white;
}

.dd {
    font-size: 30px;
}

.h2 {
    text-align: center;
    color: red;
    font-size: 40px;
    margin-top: 10px;
}

.yajirushi {
    text-align: center;
    font-size: 50px;
}

.return {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    text-align: center;
}


.sendbutton {
    height: 50px;
    width: 80px;
    border-radius: 40px;
    background-color: blue;
    color: white;
    font-size: 1.5rem;
}

.sendmail {
    color: yellow;
}

.answerinput {
    font-size: 1.5rem;
}

.answerbutton {
    font-size: 2.0rem;
    background-color: blue;
    color: white;
    border-radius: 20px;
    width: 150px;
}

.anchor {
    text-decoration: none;
    color: inherit;
    font-size: 1.8rem;
}

.anchor:hover {
    color: red;
}

.answermsg {
    font-size: 2.5rem;
    color: yellow;
}

@media (max-width: 500px) {
    .main {
        margin-top: 250px;
        width: 100%;
        margin-left: 0px;
        color: white;
    }

    .sns {
        margin-left: 0px;
        display: block;
    }
}